/* Select Plan  */

.select-plan-container {

    &.overlayed {
        position: relative;

        & .backups-checbox-container {
                & .tooltip {
                    &.overlayed {
                        display: block;
                        padding: 20px;
                    }   
                }
            }

        &::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9999;
        }

       
    }

    & .main-title {
        padding-bottom: 20px;
    }

    & .tab-container {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 10px;

        & .tab {
            cursor: pointer;
            color: #555;
            padding: 5px 10px;
            margin-right: 10px;
            position: relative;
            
            &.active {
                color: var(--primary-color);
                font-weight: var(--font-semi-bold);

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: var(--primary-color);
                }
            }
        }
    }

    & .tab-content {
        margin-top: 20px;

        & ul {
            list-style-type: none;
            padding-left: 10px;

            & li {
                &::before {
                    content: '✓';
                    margin-right: 10px;
                }

                &.cross{
                    &::before {
                        content: '✕';
                        margin-right: 10px;
                    }
                }
            }
        }

        & .team-cloud-container {
            & li {
                padding: 5px 0;
            }
        }

        & .team-individual-container {
            & li {
                padding: 5px 0;
            }
        }
    }

    & .backups-checbox-container {
        position: relative;
        z-index: 10000;        
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;

        & .tooltip {
            position: absolute;
            top: 110%;
            left: 18%;
            bottom: unset;
            right: unset;
            width: 35%;
            transform: translateX(-50%);
            background-color: #ffffff;
            padding: 8px;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            color: #333333;
            font-size: 14px;
            display: none;

            &::before {
                content: "";
                position: absolute;
                top: -10px;
                left: 50%;
                transform: translateX(-50%);
                border-style: solid;
                border-width: 10px;
                border-color: transparent transparent #ffffff transparent;
            }

            &::after {
                content: "";
                position: absolute;
                top: -10px;
                left: 50%;
                transform: translateX(-50%);
                border-style: solid;
                border-width: 10px;
                border-color: transparent transparent #ffffff transparent;
                display:none;
            }

            & .tooltip-title {
                font-family:var(--font-family-primary) ;
                font-style: normal;
                font-weight: var(--font-medium);
                font-size: var(--font-md);
                line-height: 120%;
                color: #212529;
            }
            
            & .tooltip-content {
                font-family:var(--font-family-primary) ;
                font-style: normal;
                font-weight: var(--font-normal);
                font-size: 14px;
                line-height: 1.5;
                color: var(--neutral-color);
                padding-top: 10px;
                text-align: left;
            }

            & .cta-btns {
                display: flex;
                justify-content: flex-end;
                padding-top: 15px;
                gap: 15px;

                & .skip-btn {
                    background: #FFFFFF;
                    border: 1px solid #DEE2E6;
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    border-radius: 4px;
                    padding: 8px 16px;
                    cursor: pointer;
                    font-family:var(--font-family-primary) ;
                    font-style: normal;
                    font-weight: var(--font-medium);
                    font-size: 14px;
                    line-height: 120%;
                    color: var(--neutral-color);
                }

                & .upgrade-btn {
                    background: var(--primary-color);
                    border: 1px solid var(--primary-color);
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    border-radius: 4px;
                    padding: 10px 16px;
                    font-family:var(--font-family-primary) ;
                    font-style: normal;
                    font-weight: var(--font-medium);
                    font-size: 14px;
                    line-height: 120%;
                    color: #FFFFFF;
                    cursor: pointer;
                }
            }   
        }

        & .enable-backups-container {
            width: fit-content;
            padding: 15px 10px;
            background-color: #f8f9fa;
            border: 1px solid #e9ecef;
            border-radius: 10px;
            color: var(--neutral-color);
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 25px;

            & .info-box-mobile {
                display: none;
            }

            & .checkbox-label {
                & input {
                    display: block !important;
                }
            }

            & .business-card {
                color: #003875;
                margin: 0 10px;
                background-color: #e6ecf3;
                padding: 10px;
                border-radius: 25px;
                font-size: 13px;
            }
            
            & .recommended-card {
                color: white;
                margin: 0 10px;
                background-color: #ffa500;
                padding: 10px;
                border-radius: 25px;
                font-size: 13px;
            }

            & .checkbox-label{
                & input[type="checkbox"] {
                    display: block;
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }
            } 
        }

        & .upgrade-plans-message {
            color: var(--neutral-color);
            font-size: 12px;
        }
    }

    & .pricing-cards {
        /* display: flex; */
        /* position: relative; */

        & .pricing-card {
            width: 25%;
            border: 1px solid #e9ecef;
            padding: 20px;
            border-radius: 10px;
            font-size: 13px;
            margin-top: 35px;
            cursor: pointer;
            min-width: 200px;

            & input[type="checkbox"] {
                -webkit-appearance: none;
                -moz-appearance: none;
                margin: 0;
                appearance: none;
                width: 20px;
                height: 20px;
                border: 2px solid #CED4DA;
                border-radius: 50%;
                outline: none;
                transition: border-color 0.3s ease-in-out;
                position: relative;
              }
              
              & input[type="checkbox"]:checked {
                border-color: var(--primary-color);
                background-color: var(--primary-color);
              }
              
              & input[type="checkbox"]:checked::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 4px;
                height: 8px;
                border: solid #fff;
                border-width: 0 2px 2px 0;
                transform: translate(-50%, -50%) rotate(45deg);
              }
              

            &.popular-container {
                border: 1px solid #ff8000;
                margin-top: 0;
            }

            & .popular-badge {
                background-color: #ff8000;
                text-align: center;
                color: white;
                font-size: 14px;
                padding: 5px;
                margin-bottom: 10px;
                border-radius: 10px;
            }

            & .pricing-card-title {
                margin: 5px 0;
                font-size: var(--font-md);
                font-family:var(--font-family-primary) ;
                font-style: normal;
                font-weight: var(--font-medium);
                color: #212529;
            }

            
            & .no-of-users {
                width: max-content;
                background-color: #dee2e6;
                padding: 5px 8px;
                border-radius: 20px;
                margin: 10px 0;
                font-size: 12px;
                line-height: 120%;

                &.selected {
                    background-color: #002e5f;
                }
            }

            &.selected {
                background-color: #003875;
                color: white;

                & .pricing-card-title,
                & .amount,
                & .month {
                    color: white
                }

                & .custom-hr {
                    border-top: 1px solid var(--primary-color);
                }

                & input[type="checkbox"]:checked {
                    border-color: #fff;
                    background-color: #fff;
                }
                  
                & input[type="checkbox"]:checked::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 4px;
                    height: 8px;
                    border: var(--primary-color);
                    border: 1px solid var(--primary-color);
                    border-width: 0 2px 2px 0;
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                & .monthly-title-check {
                    border-bottom: 1px solid var(--primary-color);

                    & .monthly-amount {
                        & .pricing-card-price {
                            & .amount {
                                color: white;
                            }
                        }
                    }
                }

                & .annual-title-check {
                    & .annual-title-box {
                        & .annual-amount {
                            & .pricing-card-price {
                                & .amount {
                                    color: white;
                                }
                            }
                        }
                    }
                }

                &.popular-container {
                    background-color: #ff9900;

                    & .no-of-users{
                        &.selected {
                            background-color: #ffa500;
                        }
                    }

                    & .monthly-title-check {
                        border-bottom: 1px solid #fff;

                        &.selected {
                            & .monthly-title {
                                color: #fff;
                            }
                        }
                    }

                    & .pricing-annual {
                        & .annual-title-check {
                        
                            &.selected {
                                & .annual-title {
                                    color: #fff !important;
                                }
                            }
                        }
                    }
                    
                    & .popular-badge {
                        border: 1px solid white;
                    }

                    & .custom-hr {
                        border-top: 1px solid #fff;
                    }
                }
            }

            & .functions {
                font-size: 12px;
                padding: 10px 0 20px 0;
                line-height: 1.5;
            }

            & .pricing-card-features {
                padding-left: 0px;
                margin: 15px 0px;

                &.selected{
                    & li {
                        color: #fff;
                    }
                }

                & li {
                    list-style: none;
                    padding: 3px 0px;
                    font-style: normal;
                    font-weight: var(--font-normal);
                    font-size: 14px;
                    line-height: 120%;
                    color: var(--neutral-color);

                    &::before {
                        content: '✓';
                        margin-right: 10px;
                    }
                }
            }

            & .custom-hr {
                width: 50px;
                margin: 0;
                border: none;
                border-top: 1px solid #dee2e6;
                align-self: flex-start;
            }

            & .pricing-monthly{

                & .monthly-title-check {
                    display: flex;
                    align-items: flex-start;
                    border-bottom: 1px solid #dee2e6;
                    padding-bottom: 10px;

                    &.selected {
                        & .monthly-title {
                            color: #7a9dc3;
                        }
                    }
                }

                & .monthly-title-box {
                    display: flex;
                    flex-direction: column;
                    padding-left: 5px;
                    
                    & .monthly-title {
                        color: var(--primary-color);
                        padding-bottom: 5px;
                        font-weight: var(--font-semi-bold);
                        font-size: 14px;
                        width: 140px;
                    }

                    & .pricing-card-price {
                        & .amount {
                            font-size: 32px;
                            font-weight: var(--font-medium);
                            color: #212529;
                            line-height: 32px;
                        }

                        & .month {
                            color: #adb5bd;
                            font-size: var(--font-xs);
                            line-height: 120%;
                            font-weight: var(--font-normal);
                        }
                    }
                }
            }

            & .pricing-annual{
                & .annual-title-check {
                    padding-top: 20px;
                    display: flex;
                    align-items: flex-start;

                    &.selected{
                        & .annual-title-box {
                            & .annual-title {
                                color: #7a9dc3 !important;
                            }
                        }
                    }
                    
                    & .annual-title-box {
                        display: flex;
                        flex-direction: column;
                        padding-left: 5px;

                        & .pricing-card-price {
                            & .amount {
                                font-size: 32px;
                                font-weight: var(--font-medium);
                                color: #212529;
                                line-height: 32px;
                            }
    
                            & .month {
                                color: #adb5bd;
                                font-size: var(--font-xs);
                                line-height: 120%;
                                font-weight: var(--font-normal);
                            }
                        }

                        & .annual-title {
                            color: var(--primary-color);
                            padding-bottom: 3px;
                            font-weight: var(--font-semi-bold);
                            font-size: 14px;
                            width: 132px;
                        }

                        & .offer-infobox {
                            font-size: 12px;
                            background-color: #d1fadf;
                            width: max-content;
                            padding: 4px 8px;
                            border-radius: 25px;
                            color: #027a48;
                            margin-top: 10px;
                        }
                    }
                    
                }
                
            }

            & .tooltip-container {
                position: relative;
                z-index: 999999;
                top: -125px;

                & .tooltip {
                    position: absolute;
                    top: -10px;
                    left: 50%;
                    width: 100%;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                    background-color: rgba(0, 0, 0, 0.8);
                    color: white;
                    padding: 10px;
                    border-radius: 4px;
                    opacity: 0.9;
                    white-space: nowrap;

                    & .tooltip-tip {
                        display: block;
                        margin-bottom: 5px;
                    }

                    & ul {
                        list-style: disc;
                        margin: 0;
                        padding: 0 25px;

                    & li {
                        margin-bottom: 5px;
                    }
                    }
                }
            }

            &.special {
                display: flex;
                flex-direction: column;
                gap: 20px;
                background: conic-gradient(from 140.15deg at 53.17% 67.14%, var(--primary-color) 0deg, #252530 360deg);

                & .pricing-card-title {
                    font-weight: var(--font-medium);
                    font-size: var(--font-md);
                    line-height: 120%;
                    color: #FFFFFF;
                }

                & .special-pricing-card-content {
                    font-size: 14px;
                    line-height: 120%;
                    color: #DEE2E6;
                }

                & .special-card-image {
                    width: 200px;
                    height: auto;
                    margin-bottom: 10px;
                }
                
                & .special-card-button {
                    background: #E6ECF3;
                    border: 1px solid #E6ECF3;
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    border-radius: 4px;
                    padding: 10px 16px;
                    color: #003875;
                    font-size: 14px;
                    font-weight: var(--font-semi-bold);
                    cursor: pointer;
                }
            }
        }

        & .team-cloud-pricing-container  {
            display: flex;
            gap: 15px;
            margin: 25px 0;

            & .functions {
                display: none;
            }
        }

        & .team-individual-pricing-container {
            display: flex;
            gap: 15px;
            margin: 25px 0;

            & .no-of-users {
                display: none;
            }

            & .pricing-card {
                width: 15%;
            }
        }
    }
    
    & .users-message-box {
        font-size: var(--font-xxxs);
    }
    
    & .upgrade-plans-message-mobile{
        display: none;
        font-size: var(--font-xxxs);
        margin-bottom: 5px;
    }

    & .action-btn {
        display: flex;
        justify-content: center;
        padding-top: 50px;

        & .back-btn {
            width: 130px;
            height: 50px;
            margin: 0;
            font-size: var(--font-sm);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: #adb5bd;
            background: none;
        }

        & .verify-btn {
            width: 150px;
            height: 50px;
            margin: 0;
            font-size: var(--font-sm);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: white;
            background: var(--primary-color);
            margin-left: 25px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .select-plan-container {
        width: 100%;

        & .main-title {
            display: none;
        }

        & .tab-container {
            justify-content: space-between;
            padding: 0 20px 10px 10px;
            gap: 10px;

            & .tab{
                margin-right: 0;
                padding: 5px 0;
            }
        }

        & .tab-content {
            margin-top: 10px;
            & .team-cloud-container {
                & li {
                    line-height: 16.8px;
                }
            }

            & .team-individual-container{
                & li {
                    line-height: 16.8px;
                }
            }
        }

        & .backups-checbox-container{

            & .enable-backups-container {
                margin-top: 0;
                & .info-box{
                    display: none;
                }

                & .info-box-mobile{
                    display: block;
                    display: flex;
                    align-items: center;

                    & .info-btns {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        & .recommended-card {
                            padding: 3px;
                            font-size: 12px;
                            text-align: center;
                        }

                        & .business-card {
                            padding: 3px;
                            font-size: 12px;
                            text-align: center;
                        }
                    }
                }
            }
            & .upgrade-plans-message{
                display: none;
            }
        }

        & .upgrade-plans-message-mobile{
            display: block;
        }

        & .action-btn {
            position: sticky;
            bottom: 0;
            width: 100%;
            z-index: 100;
            margin-bottom: 0;
            padding-bottom: 10px;
            padding-top: 10px;
            background: #fff;
            margin-left: -15px;
            margin-right: -15px;
            width: 100vw;
            box-sizing: border-box;
            margin-top: 30px;
            & .back-btn {
                display: none;
            }
            & .verify-btn {
                width: 100%;
                margin: 0 15px;
            }
        }
    }
}