/* Config PC  */

.config-pc-container {
    padding: 0;

        & .name-password-container {
            display: flex;
            flex-direction: row;

            & .name-password-input-fields {
                width: 50%;
                gap: 15px;
                display: flex;
                flex-direction: column;
                margin-right: 50px;

                & .form-row-colfull {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    & .input {
                        margin-bottom: 0;
                        margin-top: 5px;
                        border-color: var(--border-color);
                        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                        border-radius: 4px 0 0 4px;
                        padding: 14px;
                        font-size: 15px;
                        line-height: 1.2;
                        min-height: 44px;
                        border: 1px solid #e9ecef;
                    }

                    &.col2 {
                        margin-top: 20px;

                        & .copy-button {
                            background: #fff;
                            border-radius: 0 4px 4px 0;
                            padding: 14.5px 14px;
                            font-size: 14px;
                            cursor: pointer;
                            color: #101828;
                            font-weight: var(--font-semi-bold);
                            border: 1px solid #e9ecef;
                            margin-right: 20px;
                            display:flex;
                            min-height:44px;

                            & svg {
                                margin-right: 10px;
                            }
                        }
                        
                        & .regenerate-pass {
                            background: #E6ECF3;
                            border: 1px solid #E6ECF3;
                            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                            border-radius: 4px;
                            padding: 15px 16px;
                            font-weight: var(--font-semi-bold);
                            font-size: 14px;
                            line-height: 120%;
                            color: #003875;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            min-height: 44px;

                            & svg {
                                margin-right: 5px;
                            }
                        }

                        & .password-container {
                            display: flex;
                            flex-direction: row;
                            align-items: flex-end;
                            position: relative;

                            &:has( > .error-message) {
                                padding-bottom: 20px;
                            }

                            & .error-message {
                                position: absolute;
                                bottom: 0;
                            }
                        }
                    }


                }
            }

            & .notice {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                background: #F8F9FA;
                padding: 10px 16px;
                border-left: 2px solid #FFA500;
                margin-right: 20px;

                & .title {
                    font-weight: var(--font-semi-bold);
                    font-size: var(--font-xs);
                    line-height: 120%;
                    color: #212529;
                }
                
                & .content {
                    padding-top: 10px;
                    font-size: 15px;
                    line-height: 140%;
                }
            }
        }

        & .main-title {
            margin-top: 50px;
            font-weight: var(--font-semi-bold);
            font-size: 19px;
            line-height: 120%;
            color: #212529;

            & .sub-topic {
                font-size: var(--font-md);
                line-height: 120%;
                color: #ADB5BD;
            }
        }

        & .windows-cards-container {
            display: flex;
            flex-direction: row;
            gap: 30px;
            margin-top: 10px;

            &.team {
                padding-top: 10px;
            }
        }

        & .networking-container {
            display: flex;
            flex-direction: row;
            gap: 30px;
            padding-top: 10px;
            margin-top: 10px;

            & .config-card {
                & .sub-title {
                    font-weight: var(--font-bold);
                    font-size: var(--font-xs);
                    line-height: 120%;
                    color: var(--primary-color);
                    text-align: center;
                    margin-top: 5px;
                }

                & .mobile-titles,
                & .mobile-checkbox {
                    display: none;
                }
            }
        }

        & .backups-antivirus-container {

            &.disabled {
                filter: blur(0px);
                pointer-events: none;
                opacity: 0.5;

                & .config-card {
                    cursor: not-allowed;
                    opacity: 1;
                }
            }
                
            }

            & .backups-container {
                display: flex;
                flex-direction: row;
                gap: 30px;
                margin-top: 10px;
    
                & .config-card {
                    & .sub-title {
                        font-weight: var(--font-bold);
                        font-size: var(--font-xs);
                        line-height: 120%;
                        color: var(--primary-color);
                        text-align: center;
                        margin-top: 5px;
                    }
                } 
            }
        
        

        & .antivirus-container {
            display: flex;
            align-items: center;
            border: 2px solid #E9ECEF;
            padding: 16px;
            border-radius: 8px;
            width: 40%;
            font-family:var(--font-family-primary) ;
            font-style: normal;
            font-weight: var(--font-medium);
            font-size: var(--font-xs);
            line-height: 120%;
            color: #212529;
            justify-content: flex-start;
            margin-bottom: 50px;
            margin-top: 10px;

            &.selected {
                border: 2px solid #003373;
            }

            & .anitivirus-logo {
                margin-left: 25px;
            }

            & .checkbox-label {
                padding-right: 5px;
                & input {
                    display: block !important;
                }
            }
            
        }

        & .action-btn {
            display: flex;
            justify-content: center;
            padding: 30px 0;

            & .back-btn {
                width: 130px;
                height: 50px;
                margin: 0;
                font-size: var(--font-sm);
                border: none;
                border-radius: 5px;
                cursor: pointer;
                color: #adb5bd;
                background: none;
            }

            & .verify-btn {
                width: 130px;
                height: 50px;
                margin: 0;
                font-size: var(--font-xs);
                border: none;
                border-radius: 4px;
                cursor: pointer;
                color: white;
                background: var(--primary-color);
                margin-left: 25px;
                padding: 10px 24px;
            }
        }

        & .line-with-text {
            display: flex;
            align-items: center;
            margin: 10px 0 25px 0;
            width: 40%;

            & .line {
                flex: 1;
                height: 1px;
                background-color: var(--primary-color);
            }

            & .text {
                margin: 0 10px;
                font-style: normal;
                font-weight: var(--font-medium);
                font-size: var(--font-xs);
                line-height: 120%;
                color: var(--primary-color);
            }
        }

        & .enable-businessplan-infobox {
            display: flex;
            align-items: center;
            padding: 20px;
            background: #D1E9FF;
            border-radius: 6px;
            width: 75%;
            justify-content: space-between;
            margin-bottom: 20px;

            & .content-container {
                width: 70%;
                & .main-text {
                    font-family:var(--font-family-primary) ;
                    font-weight: var(--font-semi-bold);
                    font-size: var(--font-sm);
                    line-height: 16px;
                    color: #121417;
                }

                & .sub-text {
                    font-family:var(--font-family-primary) ;
                    font-weight: var(--font-normal);
                    font-size: var(--font-xs);
                    line-height: 20px;
                    color: #121417;
                    padding-top: 10px;
                }
            }

            & .button {
                display: flex;
                gap: 7px;
                padding: 8px 16px;
                background: var(--primary-color);
                border: 1px solid var(--primary-color);
                box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                border-radius: 4px;
                color: white;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
            }
        }

        & .config-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            border: 2px solid #E9ECEF;
            border-radius: 10px;
            width: 20%;
            position: relative;
            min-height: 235px;
            cursor: pointer;
            min-width: 250px;

            &.selected {
                border: 2px solid #003373;
                & .checkbox-icon.selected {
                    display: block;
                }

                & .checkbox-icon {
                    display: none;
                }
            }

            & .logo {
                margin-top: 20px;
            }

            & .main-title {
                font-weight: var(--font-medium);
                font-size: var(--font-md);
                line-height: 120%;
                text-align: center;
                color: #212529;
                margin-top: 15px;
                padding-bottom: 0;
                font-family:var(--font-family-primary);
            }

            & .sub-title {
                font-weight: var(--font-medium);
                font-size: var(--font-md);
                line-height: 120%;
                text-align: center;
                color: #212529;
            }

            & .content {
                font-weight: var(--font-normal);
                font-size: 14px;
                line-height: 120%;
                text-align: center;
                color: var(--neutral-color);
                padding-top: 5px;
            }

            & .checkbox-icon {
                position: absolute;
                right: 15px;
                top: 15px;

                &.selected {
                    display: none;
                }
            }

            & .mobile-titles,
            & .mobile-checkbox {
                display: none;
            }

            & .recommended-box {
                position: absolute;
                left: 0;
                top: -19px;
                background: var(--primary-color);
                border-radius: 10px 10px 0px 0px;
                padding: 3px 10px 0px;
                color: white;
                font-size: 14px;
                line-height: 120%;
            }
        }
}

@media only screen and (max-width: 768px) {
    .config-pc-container {
        width: 100%;
        & .main-title {
            & h3 {
                margin-bottom: 20px;
            }
        }

        & .name-password-container {
            flex-direction: column;
            gap: 30px;

            & .name-password-input-fields {
                width: 100%;
                gap: 25px;

                & .form-row-colfull {
                    margin-top:0;

                    & .password-container {
                        & input {
                            width: 40%;
                        }

                        & .copy-button {
                            width:25;
                        }
                    }
                }
            }
            

            & .notice {
                width: 100%;
            }
        }

            & .main-title {
                & h2 {
                    display: flex;
                    flex-direction: column;
                    font-size: var(--font-xl);
                }
                
                & .sub-topic {
                    font-size: var(--font-xs);
                }
            }

            & .line-with-text {
                width: 100%;
            }

            & .windows-cards-container {
                flex-direction: column;
                gap: 10px;

                & .config-card {
                    width: 100%;
                    flex-direction: row;
                    min-height: fit-content;
                    justify-content: flex-start;
                    gap: 20px;
                    padding: 10px;

                    & .logo {
                        margin-top: 0;

                        & svg {
                            width: 40px;
                        }
                    }

                    & .main-title,
                    & .sub-title,
                    & .content {
                        display: none;
                    }

                    & .checkbox-icon {
                        display: none;

                        &.selected {
                            display: none;
                        }
                    }

                    & .mobile-titles {
                        display: flex;
                        flex-direction: column;
                        display: block;

                        & .titles {
                            & .sub-title {
                                margin-left: 5px;
                            }
                        }

                        & .main-title,
                        & .sub-title,
                        & .content {
                            display: block;
                        }

                        & .main-title,
                        & .sub-title {
                            font-weight: var(--font-semi-bold);
                            font-size: var(--font-md);
                            line-height: 120%;
                            text-align: center;
                            color: #212529;
                            padding-bottom: 0;
                            font-family: var(--font-family-primary);
                            margin-top: 0;
                        }

                        & .content{
                            font-weight: var(--font-normal);
                            font-size: var(--font-xxxs);
                            line-height: 120%;
                            text-align: center;
                            color: var(--neutral-color);
                            padding-top: 5px;
                            text-align: left;
                            width: 80%;
                        }
                    }

                    & .mobile-checkbox {
                        display: block;

                        & .checkbox-icon {
                            display: block;
                            margin-top: 7px;

                            &.selected{
                                display: none;
                            }
                        }
                    }

                    &.selected {
                        & .mobile-checkbox {
                            & .checkbox-icon.selected {
                                display: block;
                                margin-top: 7px;
                            }
            
                            & .checkbox-icon {
                                display: none;
                            }
                        }
                    }

                }
            }

            & .networking-container {
                flex-direction: column;
                gap: 10px;

                & .config-card {
                    width: 100%;
                    flex-direction: row;
                    min-height: fit-content;
                    justify-content: flex-start;
                    gap: 20px;
                    padding: 10px;

                    & .logo {
                        margin-top: 0;

                        & svg {
                            width: 40px;
                        }
                    }

                    & .main-title,
                    & .sub-title,
                    & .content {
                        display: none;
                    }

                    & .checkbox-icon {
                        display: none;

                        &.selected {
                            display: none;
                        }
                    }

                    & .mobile-titles {
                        display: flex;
                        flex-direction: column;
                        display: block;
                        
                        & .titles {
                            display: flex;

                            & .sub-title {
                                margin-left: 5px;
                            }
                        }

                        & .main-title,
                        & .sub-title,
                        & .content {
                            display: block;
                        }

                        & .main-title,
                        & .sub-title {
                            font-weight: var(--font-semi-bold);
                            font-size: var(--font-xs);
                            line-height: 120%;
                            text-align: center;
                            color: #212529;
                            padding-bottom: 0;
                            font-family: var(--font-family-primary);
                            margin-top: 0;
                        }

                        & .sub-title {
                            color: var(--primary-color)
                        }

                        & .content{
                            font-weight: var(--font-normal);
                            font-size: var(--font-xxxs);
                            line-height: 120%;
                            text-align: center;
                            color: var(--neutral-color);
                            padding-top: 5px;
                            text-align:left;
                            text-align: left;
                            width: 80%;
                        }
                    }

                    & .mobile-checkbox {
                        display: block;

                        & .checkbox-icon {
                            display: block;
                            margin-top: 7px;

                            &.selected{
                                display: none;
                            }
                        }
                    }

                    &.selected {
                        & .mobile-checkbox {
                            & .checkbox-icon.selected {
                                display: block;
                                margin-top: 7px;
                            }
            
                            & .checkbox-icon {
                                display: none;
                            }
                        }
                    }
                }
            }

            & .backups-container {
                flex-direction: column;
                gap: 10px;

                & .config-card {
                    width: 100%;
                    flex-direction: row;
                    min-height: fit-content;
                    justify-content: flex-start;
                    gap: 20px;
                    padding: 10px;

                    & .logo {
                        margin-top: 0;

                        & svg {
                            width: 40px;
                        }
                    }

                    & .main-title,
                    & .sub-title,
                    & .content {
                        display: none;
                    }

                    & .checkbox-icon {
                        display: none;

                        &.selected {
                            display: none;
                        }
                    }

                    & .mobile-titles {
                        display: flex;
                        flex-direction: column;
                        display: block;

                        & .titles {
                            display: flex;

                            & .sub-title{
                                margin-left: 5px;
                            }
                        }

                        & .main-title,
                        & .sub-title,
                        & .content {
                            display: block;
                        }

                        & .main-title,
                        & .sub-title {
                            font-weight: var(--font-semi-bold);
                            font-size: var(--font-xs);
                            line-height: 120%;
                            text-align: center;
                            color: #212529;
                            padding-bottom: 0;
                            font-family: var(--font-family-primary);
                            margin-top: 0;
                        }

                        & .sub-title {
                            color: var(--primary-color)
                        }

                        & .content{
                            font-weight: var(--font-normal);
                            font-size: var(--font-xxxs);
                            line-height: 120%;
                            text-align: center;
                            color: var(--neutral-color);
                            padding-top: 5px;
                            text-align:left;
                        }
                    }

                    & .mobile-checkbox {
                        display: block;

                        & .checkbox-icon {
                            display: block;
                            margin-top: 7px;

                            &.selected{
                                display: none;
                            }
                        }
                    }

                    &.selected {
                        & .mobile-checkbox {
                            & .checkbox-icon.selected {
                                display: block;
                                margin-top: 7px;
                            }
            
                            & .checkbox-icon {
                                display: none;
                            }
                        }
                    }
                }
            }

            & .antivirus-container {
                width: 100%;
            }

            & .enable-businessplan-infobox {
                width: 100%;
                flex-direction: column;
                align-content: flex-start;
                flex-wrap: wrap;
                align-items: flex-start;

                & .content-container{
                    width: 100%;
                }

                & .button{
                    margin-top: 10px;
                }
            }

            & .action-btn {
                position: sticky;
                bottom: 0;
                width: 100%;
                z-index: 100;
                margin-bottom: 0;
                padding-bottom: 10px;
                padding-top: 10px;
                background: #fff;
                margin-left: -15px;
                margin-right: -15px;
                width: 100vw;
                box-sizing: border-box;
                margin-top: 30px;
                & .back-btn {
                    display: none;
                }
                & .verify-btn {
                    width: 100%;
                    margin: 0 15px;
                }
            }
        }
    }
