/* Config PC  */

.config-pc-container {
    padding: 0 65px;

        & .name-password-container {
            display: flex;
            flex-direction: row;

            & .name-password-input-fields {
                width: 50%;
                gap: 15px;
                display: flex;
                flex-direction: column;
                margin-right: 50px;

                & .form-row-colfull {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    & .label {
                        font-size: 14px;
                        line-height: 1.2;
                        color: var(--neutral-color);
                        font-weight: var(--font-semi-bold);
                    }

                    & .input {
                        margin-bottom: 0;
                        margin-top: 5px;
                        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                        border-radius: 4px 0 0 4px;
                        padding: 14px;
                        font-size: 15px;
                        line-height: 1.2;
                        height: 15px;
                        border: 1px solid #e9ecef;
                    }

                    &.col2 {
                        margin-top: 20px;

                        & .copy-button {
                            background: #fff;
                            border-radius: 0 4px 4px 0;
                            padding: 13.5px 14px;
                            font-size: 14px;
                            cursor: pointer;
                            color: #101828;
                            font-weight: var(--font-semi-bold);
                            border: 1px solid #e9ecef;
                            margin-right: 20px;
                            display:flex;

                            & svg {
                                margin-right: 10px;
                            }
                        }
                        
                        & .regenerate-pass {
                            background: #E6ECF3;
                            border: 1px solid #E6ECF3;
                            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                            border-radius: 4px;
                            padding: 11px 16px;
                            font-weight: var(--font-semi-bold);
                            font-size: 14px;
                            line-height: 120%;
                            color: #003875;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;

                            & svg {
                                margin-right: 5px;
                            }
                        }

                        & .password-container {
                            display: flex;
                            flex-direction: row;
                            align-items: flex-end;
                        }
                    }


                }
            }

            & .notice {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                background: #F8F9FA;
                padding: 10px 16px;
                border-left: 2px solid #FFA500;

                & .title {
                    font-weight: var(--font-semi-bold);
                    font-size: var(--font-xs);
                    line-height: 120%;
                    color: #212529;
                }
                
                & .content {
                    padding-top: 10px;
                    font-size: 15px;
                    line-height: 140%;
                }
            }
        }

        & .main-title {
            margin-top: 50px;
            font-weight: var(--font-semi-bold);
            font-size: 19px;
            line-height: 120%;
            color: #212529;

            & .sub-topic {
                font-size: var(--font-md);
                line-height: 120%;
                color: #ADB5BD;
            }
        }

        & .windows-cards-container {
            display: flex;
            flex-direction: row;
            gap: 30px;
        }

        & .networking-container {
            display: flex;
            flex-direction: row;
            gap: 30px;
            padding-top: 10px;

            & .config-card {
                & .sub-title {
                    font-weight: var(--font-bold);
                    font-size: var(--font-xs);
                    line-height: 120%;
                    color: var(--primary-color);
                    text-align: center;
                    margin-top: 5px;
                }
            }
        }

        & .backups-antivirus-container {

            &.disabled {
                filter: blur(0px);
                pointer-events: none;
                opacity: 0.5;

                & .config-card {
                    cursor: not-allowed;
                    opacity: 1;
                }
            }
                
            }

            & .backups-container {
                display: flex;
                flex-direction: row;
                gap: 30px;
    
                & .config-card {
                    & .sub-title {
                        font-weight: var(--font-bold);
                        font-size: var(--font-xs);
                        line-height: 120%;
                        color: var(--primary-color);
                        text-align: center;
                        margin-top: 5px;
                    }
                } 
            }
        
        

        & .antivirus-container {
            display: flex;
            align-items: center;
            border: 2px solid #E9ECEF;
            padding: 16px;
            border-radius: 8px;
            width: 40%;
            font-family:var(--font-family-secondary) ;
            font-style: normal;
            font-weight: var(--font-medium);
            font-size: var(--font-xs);
            line-height: 120%;
            color: #212529;
            justify-content: flex-start;
            margin-bottom: 50px;

            &.selected {
                border: 2px solid #003373;
            }

            & .anitivirus-logo {
                margin-left: 25px;
            }

            & .checkbox-label {
                padding-right: 5px;
                & input {
                    display: block !important;
                }
            }
            
        }

        & .action-btn {
            display: flex;
            justify-content: center;
            padding: 30px 0;

            & .back-btn {
                width: 130px;
                height: 50px;
                margin: 0;
                font-size: var(--font-sm);
                border: none;
                border-radius: 5px;
                cursor: pointer;
                color: #adb5bd;
                background: none;
            }

            & .verify-btn {
                width: 150px;
                height: 50px;
                margin: 0;
                font-size: var(--font-sm);
                border: none;
                border-radius: 5px;
                cursor: pointer;
                color: white;
                background: var(--primary-color);
                margin-left: 25px;
            }
        }

        & .line-with-text {
            display: flex;
            align-items: center;
            margin: -10px 0 25px 0;
            width: 40%;

            & .line {
                flex: 1;
                height: 1px;
                background-color: var(--primary-color);
            }

            & .text {
                margin: 0 10px;
                font-family: 'Helvetica Neue';
                font-style: normal;
                font-weight: var(--font-medium);
                font-size: var(--font-xs);
                line-height: 120%;
                color: var(--primary-color);
            }
        }

        & .enable-businessplan-infobox {
            display: flex;
            align-items: center;
            padding: 20px;
            background: #D1E9FF;
            border-radius: 6px;
            width: 75%;
            justify-content: space-between;
            margin-bottom: 20px;

            & .content-container {
                width: 70%;
                & .main-text {
                    font-family:var(--font-family-secondary) ;
                    font-weight: var(--font-semi-bold);
                    font-size: var(--font-sm);
                    line-height: 16px;
                    color: #121417;
                }

                & .sub-text {
                    font-family:var(--font-family-secondary) ;
                    font-weight: var(--font-normal);
                    font-size: var(--font-xs);
                    line-height: 20px;
                    color: #121417;
                    padding-top: 10px;
                }
            }

            & .button {
                display: flex;
                gap: 7px;
                padding: 8px 16px;
                background: var(--primary-color);
                border: 1px solid var(--primary-color);
                box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                border-radius: 4px;
                color: white;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
            }
        }

        & .config-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            border: 2px solid #E9ECEF;
            border-radius: 10px;
            width: 15%;
            position: relative;
            min-height: 220px;
            cursor: pointer;

            &.selected {
                border: 2px solid #003373;
                & .checkbox-icon.selected {
                    display: block;
                }

                & .checkbox-icon {
                    display: none;
                }
            }

            & .logo {
                margin-top: 20px;
            }

            & .main-title {
                font-weight: var(--font-semi-bold);
                font-size: var(--font-md);
                line-height: 120%;
                text-align: center;
                color: #212529;
                margin-top: 15px;
                padding-bottom: 0;
            }

            & .sub-title {
                font-weight: var(--font-semi-bold);
                font-size: var(--font-md);
                line-height: 120%;
                text-align: center;
                color: #212529;
            }

            & .content {
                font-weight: var(--font-normal);
                font-size: 14px;
                line-height: 120%;
                text-align: center;
                color: var(--neutral-color);
                padding-top: 5px;
            }

            & .checkbox-icon {
                position: absolute;
                right: 15px;
                top: 15px;

                &.selected {
                    display: none;
                }
            }

            & .recommended-box {
                position: absolute;
                left: 0;
                top: -19px;
                background: var(--primary-color);
                border-radius: 10px 10px 0px 0px;
                padding: 3px 10px 0px;
                color: white;
                font-size: 14px;
                line-height: 120%;
            }
        }
}
