/* Password Form */
.password {
    &.choose-password-container {
        width: 100%;
        padding-left: 65px;
    }

    & .account-description {
        display: flex;
        flex-direction: row;
        align-items: center;

        & .account-img {
            padding-right: 15px;
        }

        & .account-name-email {
            display: flex;
            flex-direction: column;

            & .account-name {
                font-size: 18px;
                font-weight: 600;
            }
            
            & .account-email {
                padding-top: 5px;
                color: #495057;
                font-size: 16px;
            }
        }
    }

    & .password-form-container {
        display: flex;
        flex-direction: column;
        padding-top: 30px;

        & .password-fields {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 35%;

            & .password-title {
                margin-bottom: -10px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 120%;
                color: #495057;
            }

            & .input-container {
                position: relative;
                & .custom-input {
                    border-radius: 5px;
                    padding: 12px 0 12px 12px;
                    width: 100%;
                    border: 1px solid #adb5bd;
                }

                & .password-toggle {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    cursor: pointer;
                }

                & .custom-input.error {
                    border-color: red;
                }
            }

            & .error-message {
                color: red;
                font-size: 12px;
                margin-top: 4px;
            }

        }

        & .password-requirements {
            margin-top: 25px;
            background-color: #f8f9fa;
            width: 35%;
            padding: 5px 0 5px 10px;
            border-left: 3px solid #adb5bd;

            & ul {
                padding: 0;
                list-style: none;

                & li {
                    padding: 4px 0;

                    & .checkbox-label {
                        display: flex;
                        align-items: center;
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        color: #212529;
                    }
                }
            }

            & .title {
                padding-top: 5px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 120%;
                color: #212529;
            }

            & .checkbox-label {
                & input {
                    display: none !important;
                }

                & input[type="checkbox"] {
                    display: none;
                }

                & .checkbox-custom {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background-color: #dee2e6;
                    margin-right: 13px;
                    margin-left: 5px;
                    position: relative;

                    &.active {
                        background-color: #039855;
                    }

                    & .checkbox-icon {
                        color: white;
                        font-size: 10px;
                        position: absolute;
                    }

                    &::after {
                        content: "";
                        display: block;
                        width: 4px;
                        height: 8px;
                        margin-bottom: 1px;
                        border: solid white;
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                        visibility: visible;
                    }
                }

                & input[type="checkbox"]:checked + .checkbox-custom::after {
                    visibility: visible;
                }
            }
        }
    }

    & .confirm-btn {
        padding-top: 30px;

        & .verify-btn {
            width: 150px;
            height: 40px;
            margin: 20px auto 0px auto;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: white;
            background: #00438b;
        }
    }
}
