/* Password Form */
.password {
    &.choose-password-container {
        width: 100%;

        & .password-form-container{
            & .password-error {
                & .input-group-append {
                    top: 43%;
                }
            }

            & .passwordMatch-error{
                & .input-group-append {
                    top: 43%;
                }
                & .error {
                    border: 1px solid red !important;
                }
            }
        }
       
    }

    & .account-description {
        display: flex;
        flex-direction: row;
        align-items: center;

        & .account-img {
            padding-right: 15px;
        }

        & .account-name-email {
            display: flex;
            flex-direction: column;

            & .account-name {
                font-size: var(--font-sm);
                font-weight: var(--font-semi-bold);
                color: #212529;
            }
            
            & .account-email {
                padding-top: 5px;
                color: var(--neutral-color);
                font-size: var(--font-xs);
            }
        }
    }

    & .password-form-container {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        max-width: 440px;

        & .form-row {
            position: relative;

            & .input-group-append {
                right: 10px;
                top: 52%;
                cursor: pointer;
                position: absolute;
            }
        }

        & .password-requirements {
            margin-top: 25px;
            background-color: #f8f9fa;
            padding: 5px 0 5px 10px;
            border-left: 3px solid #adb5bd;

            & ul {
                padding: 0;
                list-style: none;

                & li {
                    padding: 4px 0;

                    & .checkbox-label {
                        display: flex;
                        align-items: center;
                        font-family:var(--font-family-primary) ;
                        font-style: normal;
                        font-weight: var(--font-normal);
                        font-size: 14px;
                        color: #212529;
                    }
                }
            }

            & .title {
                margin-bottom: 5px;
                padding-top: 5px;
                font-family:var(--font-family-primary) ;
                font-style: normal;
                font-weight: var(--font-semi-bold);
                font-size: var(--font-xs);
                line-height: 120%;
                color: #212529;
            }

            & .checkbox-label {
                & input {
                    display: none !important;
                }

                & input[type="checkbox"] {
                    display: none;
                }

                & .checkbox-custom {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background-color: #dee2e6;
                    margin-right: 13px;
                    margin-left: 5px;
                    position: relative;

                    &.active {
                        background-color: #039855;
                    }

                    & .checkbox-icon {
                        color: white;
                        font-size: 10px;
                        position: absolute;
                    }

                    &::after {
                        content: "";
                        display: block;
                        width: 4px;
                        height: 8px;
                        margin-bottom: 1px;
                        border: solid white;
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                        visibility: visible;
                    }
                }

                & input[type="checkbox"]:checked + .checkbox-custom::after {
                    visibility: visible;
                }
            }
        }
    }

    & .confirm-btn {
        padding-top: 30px;

        & .verify-btn {
            width: 150px;
            height: 40px;
            margin: 20px auto 0px auto;
            font-size: var(--font-sm);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: white;
            background: var(--primary-color);
        }
    }
}
