@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {

    /* colors */
    --back-button: #adb5bd;
    --primary-color : #00438B;
    --neutral-color : #495057;

    /* Font Size */
    --font-xs : 16px;
    --font-sm : 18px;
    --font-md : 20px;
    --font-lg : 22px;
    --font-xl : 24px;
    --font-xxl: 26px;

    /* Font weight */
    --font-light : 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* Font Family */
    --font-family-primary: 'Poppins', sans-serif;
    --font-family-secondary: 'Roboto';

}

@define-mixin verify-btn {
    width: 150px;
    height: 50px;
    margin: 0px auto 0px auto;
    font-size: var(--font-sm);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background: #00438b;
    margin-left: 25px;
}

@define-mixin main-title {
    font-family:var(--font-family-secondary) ;
    font-style: normal;
    font-weight: var(--font-medium);
    font-size: var(--font-xxl);
    line-height: 120%;
    color: #212529;
    padding-bottom: 0;
}

body {
    margin: 0;
    font-family: var(--font-family-secondary) ;
}

.container {
    display: flex;
}

.main-title{
    @mixin main-title;
}

.title {
    font-size: 24px;
    color: #333;
}

.sidebar {
    min-width: 320px;
    width: 25%;
    background-color: #f8f9fa;
    height: 100vh;
}

.main {
    display: flex;
    width: 75%;
    align-items: flex-start;
    background-color: white;
}