.container {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}
  
.title {
    font-size: 24px;
    color: #333;
}

.sidebar {
    width: 30%;
    background-color: grey;
}

.main {
    display: flex;
    width: 70%;
    /* justify-content: center; */
    align-items: flex-start;
    background-color: beige;
}

.content-title {
    padding-left: 50px;
}
  