.header-container {
    & .step-details {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 10px;

        & .step-description {
            & .step-no {
                color: #ADB5BD;
                font-size: var(--font-xxxs);
                font-weight: var(--font-normal);
                line-height: 14.4px;
            }

            & .step-name {
                color: var(--primary-color);
                font-size: var( --font-sm);
                font-weight: var(--font-medium);
                line-height: 21.6px;
                margin-top: 5px;
            }
        }
    }

    & .step-progress {
        margin-bottom: 20px;
    }
}