/* Payment Gateway */

.payment-gateway {

    & input.text,
    & input.title,
    & input[type=email],
    & input[type=password],
    & input[type=tel],
    & input[type=text],
    & select,
    & textarea {
        background-color: #fff;
        border: 1px solid #bbb;
        padding: 2px;
        color: #4e4e4e;
        font-family:var(--font-family-primary) ;
    }

    &.payment-container {
        display: flex;
        width: 100%;
        flex-direction: row;
        margin-top: 10px;
    }

    & .form-container {
        width: 50%;

        & .main-title {
            padding-bottom: 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & h3 {
                margin-bottom: 0;
            }

            & img{
                height: 38px;
                width: 115px;
            }
        }
    
        & .form-row {
            display: flex;
            margin-bottom: 20px;
            flex-direction: row;
            align-items: flex-start;

            & .form-row-col-long {
                width: 70%;
                display: flex;
                flex-direction: column;
                padding-right: 15px;
            }

            & .form-row-col-short {
                width: 30%;
                display: flex;
                flex-direction: column;
            }

            & .label {
                font-size: 14px;
                line-height: 1.2;
                color: var(--neutral-color);
                font-weight: var(--font-semi-bold);
            }

            & .input, 
            & .text-area {
                margin-bottom: 0;
                margin-top: 5px;
                border-color: #e9ecef;
                box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                border-radius: 4px;
                padding: 12.5px 14px;
                font-size: 15px;
                line-height: 1.2;
                height: 15px;

                &.error {
                    border-color: red;
                }
            }

            & .form-row-col1 {
                width: 70%;
                float: left;
                display: flex;
                flex-direction: column;
                margin-right: 20px;
            }

            & .form-row-col2 {
                width: 35%;
            }

            & .form-row-colfull {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            &.form-row-4, 
            &.form-row-5 {
                & select {
                    margin-bottom: 0;
                    border-color: #e9ecef;
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    border-radius: 4px;
                    padding: 12.5px 14px;
                    font-size: 15px;
                    line-height: 1.2;
                    height: 44px;
                }
            }

            & .email-verification-note {
                background-color: #E9ECEF;
                padding: 8px 16px;
                border-radius: 0px 0px 6px 6px;
                font-size: 14px;
                line-height: 20px;
                font-weight: var(--font-normal);
                display: block;
                width: 100%;
                color: #6c757d;
            }

            & .alert-message {
                margin: 20px 0 0 0;
                background-color: #FEE4E2;
                padding: 20px;
                font-size: 13px;
                line-height: 1.5;
                border-radius: 10px;
                display: flex;

                & .alert-svg {
                    margin-right: 10px;
                }
            }

            & .info-message {
                margin: 20px 0 0 0;
                background-color: #d1e9ff;
                padding: 20px;
                font-size: 13px;
                line-height: 1.5;
                border-radius: 10px;
                display: flex;

                & .info-svg {
                    margin-right: 10px;
                    & svg {
                        color: #1570ef;
                    }
                }

                & span {
                    font-weight: bold;
                }
            }
        }

        & .action-btn {
            padding-top: 30px;
            display: flex;
            flex-direction: row;

            & .verify-btn {
                width: 150px;
                height: 50px;
                margin: 0px auto 0px auto;
                font-size: 15px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                color: white;
                background: var(--primary-color);
                margin-left: 25px;
                width: 60%;
            }

            & .back-btn {
                width: 75px;
                height: 50px;
                margin: 0px auto 0px auto;
                font-size: var(--font-sm);
                border: none;
                border-radius: 5px;
                cursor: pointer;
                color: #adb5bd;
                background: none;
                width: 40%;
            }
        }

        & .card-verification-info {
            margin: 20px 0;
            background: rgb(93, 127, 164);
            background: linear-gradient(90deg, rgba(93, 127, 164, 1) 0%, rgba(105, 141, 179, 1) 25%, rgba(133, 163, 195, 1) 60%, rgba(139, 167, 199, 1) 90%, rgba(139, 167, 199, 1) 100%);
            padding: 15px 20px;
            border-radius: 10px;
            color: white;
            font-size: 14px;
            line-height: 1.5;
            display: flex;
            justify-content: space-around;
            align-items: center;

            & .info-img {
                text-align: right;
            }
        }

        & .support-card-images {
            margin-bottom: 20px;
        }
    }
    
    & .asset-details-container {
        padding-left: 70px;
        padding-right: 40px;
        width: 45%;
        margin-top: 20px;

        & .packages-details-container-bg {
            border-radius: 15px;
            background-color: #CED4DA;
            position: relative;
            transform: rotate(6deg);

            & .package-details-container {
                display: flex;
                flex-direction: column;
                padding-top: 30px;
                background-color: #e9ecef;
                padding: 25px;
                border-radius: 15px;
                position: relative;
                transform: rotate(-6deg);
    
                & .title-message {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
    
                    & .package-title {
                        font-size: var(--font-md);
                        font-weight: var(--font-bold);
                        width: 50%;
                    }
    
                    & .message-content {
                        background-color: #bfe7d1;
                        width: 50%;
                        text-align: center;
                        vertical-align: middle;
                        border-radius: 50px;
                        color: #027143;
                        padding: 6px;
                        font-size: 15px;
                        font-weight: var(--font-semi-bold);
                    }
                }
    
                & .list-content {
                    font-family:var(--font-family-primary) ;
                    font-style: normal;
                    font-weight: var(--font-normal);
                    font-size: 14px;
                    line-height: 150%;
                    letter-spacing: -0.011em;
                    color: var(--neutral-color);
                    & ul {
                        list-style: none;
                        padding-left: 12px;
                    }
    
                    & li {
                        padding: 5px;
                        &::before {
                            content: '✓';
                            margin-right: 10px;
                        }
                    }
                }
    
                & .trial-message {
                    padding-left: 20px;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 120%;
                    color: #212529;
                }
                
            }
        }

        

        & .pricing-container {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            border-bottom: 1px solid #dee2e6;
            padding-bottom: 15px;

            & .pricing-single-pack {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding: 10px 0;
            }

            & .package-details {
                display: flex;
                flex-direction: column;

                & .package-title {
                    color: #7e868d;
                    font-size: 15px;
                    padding-bottom: 8px;
                    font-weight: var(--font-normal);
                    width: 100%;
                }

                & .package-value {
                    font-weight: var(--font-semi-bold);
                }
            }

            & .link {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;
                flex-wrap: wrap;

                & a {
                    font-size: 14px;
                    padding-bottom: 8px;
                    color: #1570ef;
                }
            }
        }

        & .total-pricing-container {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;

            & .total-title {
                font-size: var(--font-lg);
                font-weight: var(--font-semi-bold);
            }

            & .total-price {
                font-size: var(--font-lg);
                font-weight: var(--font-semi-bold);
            }
        }

        & .condition-container {
            & ul {
                list-style: none;
                padding-left: 5px;
            }

            & li {
                padding: 5px 0;
                font-size: 15px;
                
                &::before {
                    content: '✓';
                    margin-right: 10px;
                    color: #32ab75;
                }
            } 
        }
    }
}
