/* Sidebar Content CSS */

.sidebar {
    margin-right: 80px;
    min-width: 320px;
    background-color: #f8f9fa;
    height: calc(100vh - var(--wp-admin--admin-bar--height, 0px));
    position: sticky;
    top: var(--wp-admin--admin-bar--height, 0);
    left: 0;
    padding-top: calc(70px - var(--wp-admin--admin-bar--height, 0px));

    & .sidebar-container {
        padding: 0 40px;
    }

    & .single-nav {
        padding: 12px 0;
        margin: 20px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &:first-of-type {
            margin-top: 0;
            padding-top: 0;
        }

        & .nav-bullet {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            background-color: #e9ecef;
            text-align: center;
            color: #abb1b6;
            margin-right: 16px;
            line-height: 32px;  /* align text vertically */

            &:where(.active > *) {
                background-color: var(--primary-color);
                color: white;
            }

            &:where(.completed > *) {
                background-color: var(--alert-success-600);
                color: white;
            }
        }

        & .nav-topic {
            font-size: var(--font-xs);
            color: black;
            font-weight: var(--font-medium);
            &.active {
                color: var(--primary-color);
            }
        }

        & .nav-subtopic {
            font-size: var(--font-xxxs);
            margin-top: 3px;
            color: #c0c7cd;

            &:last-of-type:where(.completed *) {
                color: var(--alert-success-600);
            }
        }

        & .nav-bullet {

            & svg {
                margin: -5px;
            }
        }
        
        &.active {

            & .nav-topic {
                color: var(--primary-color);
            }
        }
        
        & .nav-bullet-completed {
            margin-right: 10px;

            & p {
                margin: 0;
                margin-left: -4px;
            }
        }
    }
}


