/* Sidebar Content CSS */

.sidebar {
    min-width: 320px;
    width: 25%;
    background-color: #f8f9fa;
    height: calc(100vh - var(--wp-admin--admin-bar--height, 0px));
    position: sticky;
    top: var(--wp-admin--admin-bar--height, 0);
    left: 0;
    padding-top: calc(70px - var(--wp-admin--admin-bar--height, 0px));

    & .sidebar-container {
        padding: 0 40px;
    }

    & .single-nav {
        padding: 12px 0;
        margin: 20px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &:first-of-type {
            margin-top: 0;
            padding-top: 0;
        }

        & .nav-bullet {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            background-color: #e9ecef;
            text-align: center;
            color: #abb1b6;
            margin-right: 16px;
            line-height: 32px;  /* align text vertically */

            &.active {
                background-color: var(--primary-color);
                color: white;
            }
        }

        & .nav-topic {
            font-size: var(--font-xs);
            color: black;
            font-weight: var(--font-medium);
            &.active {
                color: var(--primary-color);
            }
        }

        & .nav-subtopic {
            font-size: var(--font-xxxs);
            margin-top: 3px;
            color: #c0c7cd;
        }

        & .nav-subtopic-done {
            font-size: var(--font-xxxs);
            margin-top: 3px;
            color: #039855;
        }

        & .nav-subtopic-complete {
            font-size: var(--font-xxxs);
            margin-top: 3px;
            color: #c0c7cd;
        }

        & .nav-bullet {
            & p {
                margin: 7px 0 0px 0;
            }

            & svg {
                margin: -5px;
            }

            &.active {
                display: none;
            }
        }
        
        &.active {
            & .nav-bullet {
                display: none;

                &.active {
                    display: block;
                }
            }

            & .nav-topic {
                color: var(--primary-color);
            }

            & .nav-subtopic {
                display: none;

                &.current {
                    display: block;
                }
            }
        }

        &.completed{
            & .nav-bullet {
                display: none;
            }

            & .nav-subtopic {
                display: none;
            }
        }
        
        & .nav-bullet-completed {
            margin-right: 27px;

            & p {
                margin: 0;
            }
        }
    }
}


